/*@import "~materialize-css/dist/css/materialize.min.css";*/

*{
    margin: 0;
    padding: 0;
}

/* ::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #f5f5f5;
    
    visibility: hidden;
}

::-webkit-scrollbar-track-piece
{
    visibility: hidden;
} */

::-webkit-scrollbar
{
    height: 8px;
	width: 8px;
    visibility: hidden;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #c9c8c8;
}

.pageTitle{
    margin-top: 20px;
    font-size: 0.7em;
    font-weight: 600;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-size: 25.6px;
}

.filters-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 260px;
    padding: 15px;
    margin-top: 20px;
    background-color: white;
    border: 2px solid #e3e3e3;
    border-radius: 7px;
}

.filters-container-title {
    width: 100%;
}

.filters-container-title h2{
    margin: 0;
    background-color: white;
    color: rgb(0, 0, 0);
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.backdropWrapper{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    background-color: rgb(33, 38, 58);
    background-attachment: scroll;
    border-bottom-color: rgb(43, 48, 66);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    box-sizing: border-box;
    width: 100%;
}

.backdropWrapperShadow{
    width: 100%;
    background-color: rgba(18, 18, 20, 0.89);
}

.moviePageMainPoster{
    width: 300px;
    height: 450px;
    border-radius: 7px;
}

.dotPoint {
    margin-left: 4px;
    margin-right: 4px;
}

.moviePageMainInfoWrapper{
    margin-top: 20px;
    padding-left: 40px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    /*color: rgb(0, 0, 0);*/
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-family: "Source Sans Pro", Arial, sans-serif;
}

/* CharacterCard */
.description-components-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.cast {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    margin-top: 30px;
    font-family: "Source Sans Pro", Arial, sans-serif;
}

.cast-title, .videos-title, .recommendations-title, .reviews-title{
    font-weight: 600;
    padding-left: 5px;
    margin-bottom: 5px;
}

.cast .cards-wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-start;
    overflow-x: auto;
    overflow-y: hidden;
}

/* RecomendationMovieCard */
.recommendations {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-top: 50px;
    font-size: 16px;
    font-family: "Source Sans Pro", Arial, sans-serif;
}

.recommendations-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    overflow-x: auto;
    overflow-y: hidden;
}

/* Videos for movie */
.videos {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-top: 50px;
    font-size: 16px;
    font-family: "Source Sans Pro", Arial, sans-serif;
}
.videos-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    border-radius: 10px 0 0 0;
    overflow-x: auto;
    overflow-y: hidden;
}

.videoWrapper iframe{
    border: none;
}

/* MoviePage */
.movie-discussion-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    margin-top: 50px;
    width: 100%;
}
.movie-discussion-comment-form-wrapper{}
.movie-discussion-title{
    padding: 10px;
    font-weight: 600;
    padding-left: 10px;
    margin-bottom: 15px;
}
.movie-discussion-comments-wrapper{
    /* max-width: 600px; */
}

.movie-discussion-comments-container{
    margin-top: 20px;
}

.movie-discussion-comments-container-title{
    margin-left: 10px;
}

/* PeoplePage */
.peoplePageContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.peoplePageTitleWrapper{
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.peoplePageConentWrapper{
    display: flex;
    flex-direction: column;

    margin-top: 25px;
}
.peoplePageCardsContainer{
    display: grid;
    grid-column-gap: 40px;
    grid-row-gap: 30px;
    grid-template-columns: repeat(5, 1fr);
}
.peoplePagePaginationWrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    width: 100%;
    margin-top: 25px;
}

/* PersonCard */
.person_card_wrapper{
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-size: 16px;

    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 8px 0px;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
}
.person_card_image_content{}
.person_card_profile_image{}
.person_card_meta{
    padding: 10px;
}
.person_card_name{
    font-size: 17.6px;
    font-weight: 600;
    height: auto;
    line-height: 19.2px;
    color: rgb(0, 0, 0);
    text-decoration-line: none;
    text-decoration-style: solid;
}