.character-card {
    min-width: 140px;
    width: 140px;
    min-height: 270px;

    margin-right: 10px;
    margin-bottom: 10px;

    border-radius: 6px;

    border: 1px solid #e3e3e3;
    color: rgb(0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 8px 0px;
}

.character-card-img {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    width: 138px;
    height: 175px;
}

.card-info-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    padding-top: 2px; 
}

.character-card-title {
    font-weight: 700;
    font-size: 1em;
    text-decoration-style: solid;
    font-family: "Source Sans Pro", Arial, sans-serif;
}

.character-card-title:hover {
    cursor: pointer;
}

.character-card-date {
    color: rgba(0,0,0,0.6);
    font-size: 0.9em;
    font-family: "Source Sans Pro", Arial, sans-serif;
}